@import '../scss/variables';
.App {
    min-height: 100vh;
    background-image: linear-gradient(180deg, $snowWhite 0%,$greyMouse 90%);
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    color: $charcoalBlack;
}
.hidden {
    display: none;
}
.main__default-image-wrapper {
    height: 400px;
    font-size: 200px;
    color: $defaultImage;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.footer-section__logo {
    height: 30px;
    width: 83px;
}