// COLORS
$defaultImage: rgb(72, 105, 105);
$snowWhite:  rgb(239, 245, 244);
$bluelight: rgb(104, 212, 212);
$blueIntense: rgb(60, 168, 168);

$greyMouse: rgb(129, 153, 153);
$charcoalBlack:  rgb(0, 10, 10);

// FONTS
$defaultFontFamily: Arial, Helvetica, sans-serif;
$defaultFontSize: 14px;